option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: server.wsgi:app

packages:
  yum:
    git: []
    gcc: []
    python3-devel: []

commands:
  01_upgrade_pip:
    command: "pip3 install --upgrade pip"

  02_install_requirements:
    command: "pip3 install -r server/requirements.txt"
    cwd: "/var/app/current"
