name: Test
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]
        
jobs:
  run-unit-tests:
    runs-on: ubuntu-latest
    environment: development
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 23.0.0
      - name: Install Dependencies
        run: npm install
      - name: Run Tests
        env:
            NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
            NEXT_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_KEY }}
        run: npm test
  run-e2e-tests:
    runs-on: ubuntu-latest
    environment: development
    defaults:
      run:
        working-directory: ./frontend
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 23.0.0
      - name: Install Dependencies
        run: npm install
      - name: install playwright browsers
        run: npx playwright install --with-deps
      - name: Build Application
        run: npm run build
        env:
            NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
            NEXT_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_KEY }}
      - name: Run Tests
        env:
            NEXT_PUBLIC_SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
            NEXT_PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_KEY }}
        run: npx playwright test
